<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danekja.edu.ormprobe.persistance.GroupMapper">

  <cache/>
  <select id="getById" parameterType="long" resultMap="GroupResult">
        SELECT id, name, DTYPE FROM group_table WHERE id=#{id}
    </select>

  <insert id="insert" parameterType="com.danekja.edu.ormprobe.domain.Group">
        INSERT INTO group_table (name, DTYPE) VALUES (#{name}, '${groupType}')
    </insert>

  <resultMap id="GroupResult" type="com.danekja.edu.ormprobe.domain.Group">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <discriminator javaType="string" column="DTYPE">
      <case value="Group" resultMap="Group"/>
      <case value="BigGroup" resultMap="BigGroup"/>
    </discriminator>
  </resultMap>

  <resultMap id="Group" type="com.danekja.edu.ormprobe.domain.Group"/>

  <resultMap id="BigGroup" type="com.danekja.edu.ormprobe.domain.BigGroup"/>

  <select id="getAll" resultMap="GroupResult">
        SELECT id, name, DTYPE FROM group_table
    </select>

  <update id="update" parameterType="com.danekja.edu.ormprobe.domain.Group">
        UPDATE group_table SET name = #{name}, DTYPE = "${groupType}" WHERE id=#{id}
    </update>

  <delete id="delete" parameterType="long">
        DELETE FROM Ownership WHERE ((lowerId = #{id} AND ownershipType="GROUP") OR upper_id = #{id} ) AND id > 0;
        DELETE FROM group_table WHERE id = #{id};
    </delete>

  <select id="listOwnershipCandidates" parameterType="long" resultMap="GroupResult">
        SELECT g.* FROM group_table g, Ownership o
        WHERE NOT g.DTYPE = 'BigGroup' AND NOT (o.upper_id = ${id} AND o.lowerId = g.id) AND o.ownershipType = 'GROUP' AND NOT g.id = ${id}
    </select>

  <select id="listItemsBigGroups" parameterType="long" resultMap="BigGroup">
        SELECT DISTINCT gt.* FROM Item i, Ownership o1, Ownership o2, group_table gt
        WHERE (gt.id = o2.upper_id AND gt.DTYPE = 'BigGroup' AND o2.ownershipType = 'Item' AND o2.lowerId = ${id})
	    OR (gt.id = o1.upper_id AND gt.DTYPE = 'BigGroup' AND o1.lowerId = o2.upper_id AND o1.ownershipType = "GROUP" AND o2.lowerId = ${id})
    </select>
</mapper>