<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danekja.edu.ormprobe.mappers.OwnershipMapper">
    <resultMap id="AllOwnerships" type="com.danekja.edu.ormprobe.domain.Ownership">
        <id property="id" column="id"/>
        <result property="upper" column="upper" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="lower" column="lowerId" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <discriminator javaType="string" column="ownershipType">
            <case value="GROUP" resultMap="OwnershipGroup"/>
            <case value="ITEM" resultMap="OwnershipItem"/>
        </discriminator>
    </resultMap>

    <resultMap id="OwnershipGroup" type="com.danekja.edu.ormprobe.domain.OwnershipGroup"/>
    <resultMap id="OwnershipItem" type="com.danekja.edu.ormprobe.domain.OwnershipItem"/>
    <delete id="deleteOwnershipById">
        DELETE FROM Ownership WHERE id = #{id}
    </delete>

    <select id="getAllOwnerships" resultMap="AllOwnerships">
        SELECT o.id, lowerId, ownershipType, upper_id FROM Ownership o
        INNER JOIN group_table g ON o.upper_id = g.id
        INNER JOIN group_table lg ON o.ownershipType = 'GROUP' AND o.lowerId = lg.id
        UNION ALL
        SELECT o.id, lowerId, ownershipType, upper_id FROM Ownership o
        INNER JOIN group_table g ON g.id = o.upper_id
        INNER JOIN Item i ON o.ownershipType = 'ITEM' AND o.lowerId = i.id
    </select>

    <select id="getOwnershipById" resultMap="AllOwnerships">
        SELECT id, upper_id, lowerId, ownershipType FROM Ownership WHERE id = ${id}
    </select>

    <insert id="insertOwnership" parameterType="com.danekja.edu.ormprobe.domain.Ownership">
        INSERT INTO Ownership (ownershipType, lowerId, upper_id) VALUES (#{ownershipType}, #{lower.id}, #{upper.id})
    </insert>
</mapper>