<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ormprobe</property>
    <property name="hibernate.connection.username">ormprobe</property>
    <property name="hibernate.connection.password">kivjet2015</property>
    <property name="hbm2ddl.auto">update</property>
    
    <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

    <mapping class="com.danekja.edu.ormprobe.domain.Group" />
    <mapping class="com.danekja.edu.ormprobe.domain.Item" />
    <mapping class="com.danekja.edu.ormprobe.domain.BigGroup" />
    <mapping class="com.danekja.edu.ormprobe.domain.Ownership" />
    <mapping class="com.danekja.edu.ormprobe.domain.OwnershipGroup" />
    <mapping class="com.danekja.edu.ormprobe.domain.OwnershipItem" />
            
  </session-factory>
</hibernate-configuration>
